@model DataObjects.Insect

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div style="font-size:17px">
    <h4>Insect</h4>
    <hr />   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.InsectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsectType)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.GrowingZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrowingZone)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.InsectID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsectID)
        </dd>
    </dl>
    @*<div style="padding-left:35px;">
        <img src="~/images/prayingmantis.jpg" alt="Praying Mantis" style="width:250px;height:250px;" />
    </div>*@
</div>
<br />
<p>
    <a href="javascript:history.go(-1)">Back to List</a>  
</p>
